-# @sidebar = 'execution'
- set_title "Jobs"
- add_button :refresh, jobs_path, 'refresh'
- add_button :link, dashboard_path, "dashboard"

- add_button :link, cleanup_successful_jobs_path, "cleanup successful jobs"
- add_button :link, reset_failed_jobs_path, "reset failed jobs"


%table{:width => '100%'}
  %thead
    %tr
      %th ID
      %th Label / bootstrap
      %th Created
      %th Started
      %th Completed
      %th BSID
      %th Queue
      %th Worker
      %th
      %th
  %tbody
    - @jobs.each do |job|
      %tr
        %td= "j#{job.id}"
        %td
          - label = job.label.blank? ? "job ##{job.id}" : job.label
          = link_to label, job
          %br
          %i= job.bootstrap
        %td
          = my_datetime job.created_at
          %br
          %i= seconds_ago(Time.now - job.created_at)
        %td
          - if job.started_at.nil?
            ="-"
          - else
            = my_datetime job.started_at
            %br
            %i= seconds_ago(job.started_since)
        %td
          - if job.completed_at.nil?
            ="-"
          - else
            = my_datetime job.completed_at
            %br
            %i= "took #{job.completed_at - job.created_at}s"
        %td= job.bsid
        %td
          - status = @bs_job_status[job.id]
          - if status.is_a? Hash
            %table.small
              %tr
                %td ttr
                %td= status['ttr']
              %tr
                %td age
                %td= status['age']    
              %tr
                %td left
                %td= status['time-left']    
              %tr
                %td state
                %td= status['state']    
              %tr
                %td prio
                %td= status['pri']    
            =# @bs_job_status.to_json
          
        %td= job.worker
        -#
          %td.small
            - job.actions.order('id DESC').each do |action|
              %b
                = my_datetime action.created_at
              = " (s#{action.step.id}) #{action.step.label}" unless action.step.nil?
              %br
        %td
          = link_to 'destroy', job, :confirm => 'Are you sure?', :method => :delete
          %br
          = link_to 'reset', reset_job_path(job), :confirm => 'Are you sure?'
        %td
          =# image_tag job.status_image_path
          = job_status_badge(job, @bs_jobs_ids)


%br
%h4 Notes
%p
  A job will be released after running more than #{JOB_DEFAULT_RELEASE_TIME} seconds without keepalives.
  %br
  It will be made available to other workers, and run again
%p
  %strong ttr =
  time to run the whole jobs before being made ready
%p
  %strong left =
  time left for the current worker to complete
%p
  %strong state =
  one of (reserved, buried, ready)
%p
  %strong prio =
  relative priority index (default is 100, less is more urgent) 
      