- map_class =  @job.completed_at.nil? ? 'autorefresh' : 'completed'
- status_label =  @job.completed_at.nil? ? 'waiting' : 'completed'
%h1 Showing job j#{@job.id}
=# link_to 'back', jobs_path
%p#notice= notice

=# 12 cols available here
.row
  .span5
    %h3 Job description
    %table
      %tr
        %td First step
        - if @job.step.nil?
          %td (unspecified)
        - else
          %td s#{@job.step.id}: #{@job.step.label}
      %tr
        %td Label
        %td= @job.label
      %tr
        %td Creator
        %td= @job.creator
      %tr
        %td Created
        %td= @job.created_at
      %tr
        %td Completed
        %td= @job.completed_at
      %tr
        %td Returned
        %td
          = @job.errno unless @job.errno.zero?
          %br
          = @job.errmsg unless @job.errmsg.blank?

    %h3 Active actions
    - if @running_actions.empty?
      No running action
      %br
    - else
      %table
        %tr
          %th action
          %th step
          %th created
          %th updated
          %th completed
        - @running_actions.each do |action|
          %tr
            %td= "a#{action.id}"
            %td= "s#{action.step.id} - #{action.step.label}" 
            %td= my_datetime action.created_at
            %td= my_datetime action.updated_at
            %td= my_datetime action.completed_at

  .span7
    %h3 Variables
    %table
      %tr
        %th attribute
        %th value
        %th created
        %th updated
        %th at step
        %th at action
      - @vars.each do |var|
        %tr
          %td= var.name
          %td= var.value
          %td= my_datetime var.created_at
          %td= my_datetime var.updated_at
          %td= "s#{var.step.id} - #{var.step.label}"  unless var.step.nil?
          %td= "a#{var.action.id}" unless var.action.nil?


%h3= "Status map (#{status_label})"
= image_tag job_graph_path(@job), :class => map_class

%h3 Actions history
%table
  %tr
    %th action
    %th step
    %th created
    %th updated
    %th completed
    %th errno
    %th errmsg
  - @all_actions.each do |action|
    %tr
      %td= "a#{action.id}"
      %td.nowrap= "s#{action.step.id} - #{action.step.label}" 
      %td= my_datetime action.created_at
      %td= my_datetime action.updated_at
      %td= my_datetime action.completed_at
      %td= action.errno
      %td
        %small
          = action.errmsg
%br

