%h1 Listing actions
%table
  %tr
    %th ID
    %th Job
    %th Step
    %th Finished
    %th Created
    %th Updated

  - @actions.each do |action|
    %tr
      %td= "j#{job.id}"
      %td
        = action.job_id
        = ": " + action.job.label unless action.job.nil?
      %td
        = action.step_id
        = ": " + action.step.label unless action.step.nil?
      %td= action.completed_at
      %td= action.created_at
      %td= action.updated_at
