= form_for(@link) do |f|
  - if @link.errors.any?
    #error_explanation
      %h2= pluralize(@link.errors.count, "error") + "prohibited this link from being saved"
      %ul
      - @link.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :label
    %br
    = f.text_field :label
  .field
    = f.label :step
    %br
    = f.select :step_id, @steps, { :include_blank => '' }, :class => "large_field"
  .field
    = f.label :next
    %br
    = f.select :next_id, @steps, { :include_blank => '' }, :class => "large_field"
  .actions
    = f.submit
