-# @sidebar = 'authoring'
- set_title "Links"
- add_button :add, new_link_path, "new link"

%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Class
      %th Params
      %th From step
      %th To step
  %tbody
    - @links.each do |link|
      %tr
        %td= "k#{link.id}"

        %td= link_to link.display_name, edit_link_path(link)

        %td= link.type

        %td
          %small
            = link.pretty_json


        %td
          - if link.step.nil?
            .label.label-warning MISSING
          - else
            .label.label-info= "s#{link.step.id}"
            = link.step.label

        %td
          - if link.next.nil?
            .label.label-warning MISSING
          - else
            .label.label-info= "s#{link.next.id}"
            = link.next.label
        -#%td= link_to 'Show', link

        -#%td
          = link_to 'edit', edit_link_path(link)
        -#%td
          = link_to 'destroy', link, :confirm => 'Are you sure?', :method => :delete
