-# @sidebar = 'authoring'
- set_title "Links"
- add_button :add, new_link_path, "new link"

%table
  %thead
    %tr
      %th ID
      %th Label
      %th From step
      %th To step
      %th Class
      %th Params
      %th
      %th
  %tbody
    - @links.each do |link|
      %tr
        %td= "k#{link.id}"
        %td
          - unless link.label.blank?
            = link_to link.label, edit_link_path(link)
        %td= "s#{link.step.id} - #{link.step.label}" unless link.step.nil?
        %td= "s#{link.next.id} - #{link.next.label}" unless link.next.nil?
        -#%td= link_to 'Show', link
        %td= link.type
        %td
          %small
            = link.pretty_json
        %td
          = link_to 'edit', edit_link_path(link)
        %td
          = link_to 'destroy', link, :confirm => 'Are you sure?', :method => :delete
