<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @link.label %>
</p>

<p>
  <b>From:</b>
  <%= @link.from %>
</p>

<p>
  <b>To:</b>
  <%= @link.to %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
