%h3 Beanstalk status

- if @bs_stats.nil?
  = "error: no stats returned"
- else

  %table
    %tr
      %td uptime
      %td= @bs_stats['uptime']
    %tr
      %td version
      %td= @bs_stats['version']
    %tr
      %td current-workers
      %td= @bs_stats['current-workers']
    %tr
      %td current-waiting
      %td= @bs_stats['current-waiting']
    %tr
      %td current-jobs-ready
      %td= @bs_stats['current-jobs-ready']
    %tr
      %td total-jobs
      %td= @bs_stats['total-jobs']
    %tr
      %td binlog-current-index
      %td= @bs_stats['binlog-current-index']

  
  
  