- unless @missing_in_db.size.zero?
  .alert.info
    %strong Missing job data
    %p
      Some queued jobs disappeared from our database, they will silently fail when made available to a worker:
      %br
      #{@missing_in_db.join(', ')}
      
%h3 Locked jobs (#{@jobs_locked.size})
- if @jobs_locked.empty?
  %p= "No locked job" 
- else
  %table{:width => '100%'}
    %tr
      %th job
      %th started
      %th worker
      %th bootstrap
      %th label
    - @jobs_locked.each do |job|
      %tr
        %td= link_to "j#{job.id}", job
        %td= my_datetime job.started_at
        %td= job.worker
        %td= job.bootstrap
        %td= job.label
    =# image_tag job.status_image_path
    =# link_to title, job
    =# link_to job_status_image(job), job
  


%h3 Queued jobs (#{@jobs_queued.size})
- if @jobs_queued.empty?
  %p= "No queued job" 
- else
  %table{:width => '100%'}
    %tr
      %th job
      %th created
      %th worker
      %th bootstrap
      %th label
    - @jobs_queued.each do |job|
      %tr
        %td= link_to "j#{job.id}", job
        %td= my_datetime job.created_at
        %td -
        %td= job.bootstrap
        %td= job.label


%h3 Failed/suspended jobs (#{@jobs_failed_count})
- if @jobs_failed_limited.empty?
  %p= "No failed job"
- else
  - if (DASHBOARD_JOBS_LIMITFAILED < @jobs_failed_count)
    = "Showing only #{DASHBOARD_JOBS_LIMITFAILED} first jobs out of #{@jobs_failed_count} in database"

  %table{:width => '100%'}
    %tr
      %th job
      %th started
      %th worker
      %th bootstrap
      %th label
    - @jobs_failed_limited.each do |job|
      %tr
        %td= link_to "j#{job.id}", job
        %td= my_datetime job.started_at
        %td= job.worker
        %td= job.bootstrap
        %td= job.label
  