%h3 Running jobs (#{@jobs_running.size})
%p= "No running job" if @jobs_running.empty?
- @jobs_running.each do |job|
  - title = "[j#{job.id} @ #{job.worker}] #{job.label}"
  %h5
    = image_tag job.status_image_path
    = link_to title, job
  = link_to job_status_image(job), job
  %hr


%h3 Queued jobs (#{@jobs_queued.size})
%p= "No queued job" if @jobs_queued.empty?
- @jobs_queued.each do |job|
  - title = "[j#{job.id}] #{job.label}"
  %h5
    = image_tag job.status_image_path
    = link_to title, job
  = link_to job_status_image(job), job
  %hr


%h3 Failed/suspended jobs (#{@jobs_failed.size})
%p= "No failed job" if @jobs_failed.empty?
- @jobs_failed.each do |job|
  - title = "[j#{job.id}] #{job.label}"
  %h5
    = image_tag job.status_image_path
    = link_to title, job
  = link_to job_status_image(job), job
  %hr
