:ruby
  system ||= System.new(:label => "DUMMY")
  status = system.status
  percent = system.load_percent

%h5
  = "#{system.label}"
  %small= " - up #{status['uptime']}" unless status['uptime'].blank?

%small
  = status['cpu_type'].to_s

.row
  .span1
    = "#{status['cpu_count']} CPUs" unless status['cpu_count'].blank?
  .span1
    = "load #{status['loadavg'].round(2)}" unless status['loadavg'].blank?
  .span1
    = "#{status['ipaddress']}" unless status['ipaddress'].blank?

.progress
  .bar{:style => "width: #{percent}"}
    = percent
  
