- attrs = ['uptime', 'current-workers', 'current-waiting', 'current-connections',
  'current-jobs-ready', 'current-jobs-reserved', 'current-jobs-buried', 'current-jobs-urgent', 'total-jobs', 'job-timeouts',
  'binlog-current-index']

%h3 Active workers
%ul
- @workers_list.each do |worker_name|
  %li= worker_name

%h3 Queue status

- if @workers_stats.nil?
  = "error: no stats returned"
- else

  %table
    - attrs.each do |a|
      %tr
        %td= a 
        %td= @workers_stats[a]

  %xmp=# JSON.pretty_generate(@workers_stats).html_safe

-#
  %h3 Jobs in the queue
  = @bs_jobs_ids.map{|j| "j#{j}" }.join(', ')

  %h3 Jobs ready in db
  = @db_jobs_ids.map{|j| "j#{j}" }.join(', ')

