%h3 Workers status
- @workers.each do |worker|
  %h5= "w#{worker.id} - #{worker.hostname} ##{worker.pid}"
  = "This worker is idle" if worker.jobs.empty?
  %table
    %tbody
      - worker.jobs.each do |job|
        %tr
          %td= image_tag job.status_image_path
          %td= "j#{job.id}"
          %td
            - label = job.label.blank? ? "job ##{job.id}" : job.label
            = link_to label, job
  %hr
            