- set_title "Available workflows"
- add_button :add, new_step_path(:start => true), "start a new workflow"

  %br
  = link_to "push job", push_job_path(root_step), :target => "_blank"
  |
  = link_to "edit", edit_step_path(root_step)
:javascript

  var graph = new joint.dia.Graph;
  var paper = new joint.dia.Paper({
      el: $('#graph'),
      width: '100%',
      height: 600,
      gridSize: 5,
      model: graph
  });

  // Intercept events
  paper.on('blank:pointerdown', function(evt, x, y) {
    alert('pointerdown on a blank area in the paper.')
  })

  // Inject data
  var cells4 = cells_from_hash(#{@graph_nodes.to_json.html_safe}, #{@graph_edges.to_json.html_safe});
  graph.resetCells(cells4);

  // Layout
  graph_layout(graph);

  // $('button.layout').on('click', graph_layout(graph));
  function force_graph_layout(graph, selector) {
    graph_layout(graph);
    $('#graph').effect('highlight', {}, 100);
    }
  $('button.layout').on('click', force_graph_layout);


%h2 Nodes
%pre= JSON.pretty_generate(@graph_nodes)

%h2 Edges
%pre= JSON.pretty_generate(@graph_edges)
