-# pretty_json = JSON.pretty_generate(@step.params)
-# pretty_json = @step.params.to_yaml

- if @step.errors.any?
  #error_explanation
    %h2= "#{pluralize(@step.errors.count, "error")} prohibited this step from being saved:"
    %ul
      - @step.errors.full_messages.each do |msg|
        %li= msg

= form_for @step, :as => :step do |f|
  .row

    .span3
      .field
        = f.label :label
        = f.text_field :label
      .field
        = f.label :description
        = f.text_area :description, :rows => 2
      -#.field
        =# f.label :params_old
        =# f.text_area :params_json, :rows => 16
        =# text_area_tag :params, pretty_json, :rows => 5
      .field
        = f.label :class
        = f.select :type_field, STEP_CLASSES, {:include_blank => false}
      .field
        = f.label "Local constants"
        %table
          %tbody
            - ENV_CONSTANTS.each do |name, value|
              %tr
                %td
                  %nobr
                    %b= "!"
                    = name
                %td
                  ="="
                %td= value
      .actions
        = f.submit 'Save'

    .span7
      = f.fields_for :params do |param|
        - pdef = @step.pdef(param.object.name)
        .row
          .span7
            %b= "#{param.object.name}"
            - unless pdef.nil?
              = " - #{pdef[:format]} - #{pdef[:description]}"
            
        .row
          .span3
            - unless pdef.nil?
              - rows = pdef[:lines] ||= 10
              = param.text_area :value_format, :rows => rows.to_i
            - else
              ="This parameter is now garbage"
          .span4
            - unless param.object.value.blank?
              %pre= param.object.value 
        %hr
