-# @sidebar = 'authoring'
- set_title "Listing steps"
- add_button :add, new_step_path, "new step"

%table
  %thead
    %tr
      %th ID
      %th Label
      %th Ancestors
      %th Next steps
      %th Class
      %th Params
      %th
      %th
  %tbody

    - @steps.each do |step|
      %tr
        %td
          = "s#{step.id}"
        %td
          = link_to step.label, edit_step_path(step)
          %br
          %small
            = step.description
        
        %td
          - step.ancestors.each do |p|
            = p.label
            %br
        %td
          - step.nexts.each do |n|
            = n.label
            %br
        %td= step.type
        %td
          - step.params.each do |p|
            - if p.value.lines.count <= 1
              = "#{p.name}: #{p.value}"
              %br
            - else
              = p.name
              %pre=p.value
        -#%pre= JSON.pretty_generate(JSON::parse(step.params_old)) unless step.params_old.empty?
        %td
          = link_to 'edit', edit_step_path(step)
        %td
          = link_to 'destroy', step, :confirm => 'Are you sure?', :method => :delete
