-# @sidebar = 'authoring'
- set_title "Listing steps"
- add_button :add, new_step_path, "new step"

%table


%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Class
      %th Params
      %th Ancestors
      %th Next steps
  %tbody

    - @steps.each do |step|
      %tr
        %td
          = "s#{step.id}"

        %td
          = link_to step.display_name, edit_step_path(step)
          %br
          %small
            = step.description

        %td= step.type

        %td
          - step.params.each do |p|
            - if p.value.lines.count <= 1
              = "#{p.name}: #{p.value}"
              %br
            - else
              = p.name
              %pre=p.value

        %td
          - if step.ancestors.empty?
            .label.label-warning= "|< HEAD"
          - else
            - step.ancestors.each do |p|
              .label.label-info= "s#{p.id}"
              = p.label
              %br

        %td
          - if step.nexts.empty?
            .label.label-warning= "TRAIL >|"
          - else
            - step.nexts.each do |p|
              .label.label-info= "s#{p.id}"
              = p.label
              %br

        -#%td
          =# link_to 'edit', edit_step_path(step)
        -#%td
          =# link_to 'destroy', step, :confirm => 'Are you sure?', :method => :delete
