%h1 Listing workers

%table
  %tr
    %th ID
    %th Host
    %th Pid
    %th Created
    %th Running jobs
    %th
    %th

  - @workers.each do |worker|
    %tr
      %td= "w#{worker.id}"
      %td= worker.hostname
      %td= worker.pid
      %td
        = my_datetime worker.created_at
        %br
        %i= seconds_ago(Time.now - worker.created_at)
      %td
        - worker.jobs.order('id DESC').each do |job|
          %b
            = my_datetime job.created_at
          = " (j#{job.id}) #{job.label}"
          %br

      %td= link_to 'Show', worker
      %td= link_to 'Destroy', worker, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Worker', new_worker_path
