%h1 Listing workers

%table
  %tr
    %th ID
    %th Host
    %th Pid
    %th Created
    %th Activity
    %th Jobs
    %th
    %th

  - @workers.each do |worker|
    %tr
      %td= "w#{worker.id}"
      %td= worker.hostname
      %td= worker.pid
      %td= my_datetime worker.created_at
      %td= seconds_ago(worker.last_activity)
      %td
        - worker.jobs.order('id DESC').each do |job|
          %b
            = my_datetime job.created_at
          = " (j#{job.id}) #{job.label}"
          %br
      %td= link_to 'destroy', worker, :confirm => 'Are you sure?', :method => :delete
      %td
        = image_tag worker.status_image_path

%br

%ul
  %li= "A worker process should poll every WORKERD_POLL_DELAY: (#{WORKERD_POLL_DELAY}) seconds"
  %li= "It will be considered zombie after WORKERD_ZOMBIE_DELAY: (#{WORKERD_ZOMBIE_DELAY}) seconds"
