- set_title "Systems"
- add_button :add, new_system_path, "new system"

%table
  %tr
    %th Label
    %th URL
    %th Last update
    %th
    %th

  - @systems.each do |system|
    %tr
      %td= link_to system.label, system
      %td= system.monitor_url
      -#%td%small= system.status_pretty unless system.status.empty?
      %td= my_datetime system.updated_at
      %td= link_to 'edit', edit_system_path(system)
      %td= link_to 'destroy', system, :confirm => 'Are you sure?', :method => :delete
