- set_title "Systems"
- add_tool 'new system', new_system_path

%table
  %tr
    %th Label
    %th URL
    %th Last update
    %th
    %th

  - @systems.each do |system|
    %tr
      %td= link_to system.label, system
      %td= system.monitor_url
      -#%td%small= system.status_pretty unless system.status.empty?
      %td= my_datetime system.updated_at
      %td= link_to 'Edit', edit_system_path(system)
      %td= link_to 'Destroy', system, :confirm => 'Are you sure?', :method => :delete
