- set_title "System #{@system.label}"

- add_button :back, systems_path
- add_button :link, update_status_system_path(@system), "update remote data"

.row
  .span4
    %h3 Attributes
    %p
      %b Label:
      = @system.label
    %p
      %b Monitor url:
      = @system.monitor_url

    = link_to 'Edit', edit_system_path(@system)
    \|
    = link_to 'Back', systems_path

  .span4
    %h3 Query result
    %pre= JSON.pretty_generate(@status)  

    %p
      %b CPU description
      = @status['cpu_desc']

    %p
      %b CPU count
      = @status['cpu_count']

    %p
      %b Load average
      = @status['loadavg']

    %p
      %b Load
      = @load

    %p
      - percent = @system.load_percent
      .progress
        .bar{:style => "width: #{percent}"}
          = percent





