= form_for @run do |f|
  -if @run.errors.any?
    #error_explanation
      %h2= "#{pluralize(@run.errors.count, "error")} prohibited this run from being saved:"
      %ul
        - @run.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :start_step_id
    = f.text_field :start_step_id
  .field
    = f.label :completed_at
    = f.time_select :completed_at
  .actions
    = f.submit 'Save'
