<!DOCTYPE html>
<html>
<head>
  <title>Rbpm</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= link_to "map", map_status_path %>	
<%= link_to "steps", steps_path %>	
<%= link_to "links", links_path %>	
<%= link_to "jobs", jobs_path %>	
<%= link_to "actions", actions_path %>	

<%= yield %>

</body>
</html>
